<link rel="stylesheet" href="./styles/about.css">
<div clas="container-fluid">
    <hr>
    <div class="flex-row col-md-10 offset-md-1">
        <div class = "bordered bg-dark">
            <about-directive></about-directive>
        </div>
    </div>
</div>
